@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";

/* Components */
@import "./components/quotes.css";
@import "./components/weather.css";
@import "./components/clock.css";
@import "./components/greetings.css";

/* Screens */
@import "./screens/background.css";

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hidden {
  visibility: hidden;
}
