.clock {
  font-weight: 600;
  font-size: 150px;
  color: white;
  background-color: var(--dark-grey);
  height: 200px;
  width: 650px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
